.button {
  display: block;
  font: 800 1.1rem $main-font;
  text-transform: uppercase;
  color: $main-text-light;
  background-color: $btn-main-color;
  padding: 1.2rem 2.4rem;
  outline: none;
  border: none;
  transition: all 200ms linear;
  
  &:hover {
    background-color: $btn-hover-color;
    box-shadow: $btn-box-shadow-hover;
  }
  
  &:active {
    background-color: $btn-active-color;
    box-shadow: $btn-box-shadow-active;
  }
  
  @media screen and (min-width: 768px) {
    font-size: 7px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 7.5px;
  }
}

.footer-btn {
  background: none;
  border: 0.1rem solid $footer-btn-border-color;
  padding: 0.2rem 0.8rem;
  font: 800 0.9rem $main-font;
  color: $page-footer-font-light;
  outline: none;
  transition: all 0.2s linear;
  flex-shrink: 0;
  
  &:hover {
    border-color: $btn-hover-color;
    background-color: $btn-hover-color;
    box-shadow: $btn-box-shadow-hover;
  }
  
  &:active {
    background-color: $btn-active-color;
    box-shadow: $btn-box-shadow-active;
  }
}
