.imp-section {
  margin-bottom: 7.6rem;

  &__sub-container {
    &:last-child {
      display: flex;
      flex-direction: column;
    }

    &:first-child {
      margin: 0 4rem 3.6rem 4rem;
    }
  }

  &__slider {
    padding: 7rem 0;
    background-color: $section-bg-color;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    margin-bottom: 3.6rem;

    &--lheight-mod {
      line-height: 2.2;
    }

    &--r-pad {
      padding-right: 1.2rem;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-left: 7rem;

      &:first-child {
        margin-bottom: 2.4rem;
      }
    }

    &__deco-price {
      &:before {
        content: '';
        background-color: $main-text-light;
        display: inline-block;
        width: 3.6rem;
        height: 0.1rem;
        padding-bottom: 0.4rem;
        margin-right: 0.8rem;
        background-clip: content-box;
        flex-shrink: 0;
      }
    }

    &__col-offset {
      margin-right: 3.2rem;
    }

    &__text {
      color: $main-text-light;
      font-size: 1.3rem;

      &--full-price {
        color: $main-text-light;
        font-size: 1.45rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      &--sale {
        font-size: 3.8rem;
      }
    }
  }

  &__btn {
    width: 29.6rem;
    margin-left: 7rem;
  }

  &__text-box {
    margin: 0 0 1rem 7rem;
    width: 30rem;
  }

  &__title {
    &--offset {
      margin-bottom: 1.8rem;
    }

    &--weight {
      font-size: 1.45rem;
    }
  }

  &__text-colored-offset {
    margin-bottom: 2.6rem;
  }

  &__text-offset {
    margin-bottom: 1.4rem;
  }

  &__decor-par {
    position: relative;

    &:before {
      position: absolute;
      content: '/';
      left: -4rem;
      color: black;
      z-index: 1;
      font: 500 4rem/1 $main-font;
    }
  }
}
