.imp {
  margin-bottom: 7.6rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 10rem;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 12.4rem;
  }

  &__sub-container {
    @media screen and (min-width: 768px) {
      flex: 0 0 31rem;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: 35.6rem;
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      padding: 0 5.4rem;
      justify-content: flex-start;
    }

    &:first-child {
      margin-bottom: 3.6rem;
      @media screen and (min-width: 768px) {
        margin: 0;
        padding-top: 1.8rem;
      }
    }
  }

  &__title {
    @media screen and (min-width: 768px) {
      display: none;
    }

    &--pos {
      margin-bottom: 1.8rem;
      text-align: center;
    }

    &--weight {
      font-size: 1.45rem;
    }
  }

  &__slider {
    padding: 7rem 0;
    background-color: $section-bg-color;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    margin: 0 4rem 3.6rem 4rem;

    @media screen and (min-width: 768px) {
      padding: 6rem 0;
      margin: 0 5rem 0 0;
    }
    
    @media screen and (min-width: 1200px) {
      padding: 5.2rem 0;
      margin: 0 6rem 0 0;
    }

    &--lheight-mod {
      line-height: 2.2;
    }

    &--text-bg-cold {
      background-color: $text-bg-colored;
      color: $main-text-dark;
      font-weight: 500;
    }

    &--r-pad {
      padding-right: 1.2rem;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-left: 7rem;

      @media screen and (min-width: 768px) {
        margin-left: 5.2rem;
      }

      @media screen and (min-width: 1200px) {
        margin-left: 6rem;
      }

      &:first-child {
        margin-bottom: 2.4rem;
      }
    }

    &__deco-price {
      &:before {
        content: '';
        background-color: $main-text-light;
        display: inline-block;
        width: 3.6rem;
        height: 0.1rem;
        margin: 0 0.8rem 0.4rem 0;
        background-clip: content-box;
        flex-shrink: 0;

        @media screen and (min-width: 768px) {
          width: 2.4rem;
          margin-bottom: 0.3rem;
        }

        @media screen and (min-width: 1200px) {
          margin-bottom: 0.3rem;
        }
      }
    }

    &__col-offset {
      margin-right: 3.2rem;

      @media screen and (min-width: 768px) {
        margin-right: 1rem;
      }
      
      @media screen and (min-width: 1200px) {
        margin-right: 3.8rem;
      }
    }

    &__text {
      color: $main-text-light;
      font-size: 1.3rem;
      font-weight: 500;

      @media screen and (min-width: 768px) {
        font-size: 0.9rem;
      }

      &--full-price {
        color: $main-text-light;
        font-size: 1.45rem;
        font-weight: 800;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
        
        @media screen and (min-width: 1200px) {
          font-size: 1,1rem;
        }
      }

      &--sale {
        font-size: 3.8rem;
        margin-left: 0.6rem;
        
        @media screen and (min-width: 768px) {
          font-size: 2.7rem;
        }
        
        @media screen and (min-width: 1200px) {
          font-size: 3rem;
          margin-left: -0.2rem;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__visibl-tab {
      display: block;
      margin-bottom: 2.8rem;
    }
  }

  &__btn {
    width: 29.6rem;
    margin-left: 7rem;

    @media screen and (min-width: 768px) {
      width: 20.2rem;
      margin: 0 auto;
    }
    
    @media screen and (min-width: 1200px) {
      width: 22.6rem;
    }
  }

  &__text-box {
    margin: 0 0 1rem 7rem;
    width: 30rem;

    @media screen and (min-width: 768px) {
      margin: 0 0 1.2rem 10%;
      width: 90%;

      &:nth-last-child(2) {
        margin-bottom: 2.6rem;
        padding-right: 4.2rem;
      }
    }
  }

  &__text-colored-offset {
    margin-bottom: 2.6rem;
  }

  &__text-offset {
    margin-bottom: 1.4rem;
  }
}
