.pgb {
  margin-bottom: 5.8rem;

  &__title {
    width: max-content;
    margin: 0 auto 2.2rem auto;
    padding-right: 5.6rem;

    &__descr {
      width: 38%;
      margin: 0 auto 5.4rem;
      text-align: left;
    }
  }

  &__item {
    &:first-child {
      margin-bottom: 8.2rem;
    }
  }

  &__list {
    width: 54%;
    margin-left: 11rem;

    &__item {
      margin-bottom: 2.8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--title-offset {
      margin-bottom: 0.8rem;
    }
  }

  &__text {
    font-size: 1.2rem;
  }

  &__form {
    width: 82%;
    box-shadow: $form-box-shadow;
    margin: 0 auto;
    padding-bottom: 6.6rem;

    &__input {
      display: block;
      width: 24rem;
      margin: 0 0 1rem 6.6rem;
      border: none;
    }

    &__lable {
      display: block;
      width: 24rem;
      margin: 0 0 1.6rem 6.6rem;
      border-bottom: 0.1rem solid $form-main-color;
      padding-bottom: 0.6rem;
    }
  }

  &__btn {
    width: 20.8rem;
    margin-left: 6.6rem;
  }
}
