.vc {
  margin-bottom: 9rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 9.6rem;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 12.4rem;
  }

  &__item {
    margin-bottom: 4rem;

    &:first-child {
      margin-bottom: 4rem;

      @media screen and (min-width: 768px) {
        margin: 0;
      }
    }

    &:last-child {
      margin: 0 5rem 0 8rem;

      @media screen and (min-width: 768px) {
        margin: 0;
        display: flex;
      }
    }

    &__box {
      @media screen and (min-width: 768px) {
        flex: 0 0 31rem;
        justify-content: space-between;
      }

      @media screen and (min-width: 1200px) {
        flex-basis: 35.6rem;
      }
    }
  }

  &__title {
    width: max-content;
    margin: 0 auto 1.2rem auto;

    &__descr {
      width: 22rem;
      margin: 0 0 3rem 12.2rem;
    }
  }

  &__pic-ws {
    width: 45rem;
  }

  &__list {
    margin: 0 0 0 8rem;
    width: 30rem;
        
    &__item {
      margin-bottom: 2.6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 0.6rem;
    }
  }
}
